
=f.label("survey name")
=f.text_field(:sname)
%br
=f.label("question 1")
=f.password_field(:q1)
%br
=f.label("question 2")
=f.password_field(:q2)
%br
=f.label("question 3")
=f.password_field(:q3)
%br
=f.submit("submit")
